/*speсification*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  overflow-x: hidden;
}
.navbar {
  padding-left: 4%;
}
.container {
  padding-top: 50px;
  padding-bottom: 70px;
  min-height: 600px;
}
ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

h1, h2, h4 {
  font-weight: 700;
  color:black;
}

h3 {
  font-weight: 400;
}

h2{
  text-align: center;
}

p, div, a, span {
 line-height: 1.3em; 
}
.title{
  padding-top: 50px;
  text-align: center;
  padding-bottom: 50px;
}

.title__main{
  font-size: 32px;
}

.title__text{
  font-size: 20px;
  padding-top: 40px;
}
.location {
  font-size: medium;
  color: #555;
  margin-bottom: 10px;
 }
 .data {
   font-size: small;
 }

/*first screen*/
.header {
  color: #000;
  padding-top: 50px;
  padding-bottom: 60px;
  background-image: url('../image/desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
 
.menu {
  margin-top: 8px;
}
.logo {
  width: 140px;
}
.menu__item {
  margin: 0 10px;
}

.menu__item a {
  font-size: 22px;
  font-weight: 700;
  color:black;
}
.offer {
  margin-top: 140px;
}

.offer__title{
  font-size: 72px;
  margin-bottom: 15px;
}
.offer__profi {
  font-size: 52px;
  line-height: 1.3em;
  margin-bottom: 25px;
}

.icons__item {
  margin-right: 18px;
}
.icons__item a {
  color: #333;
  font-size: 42px;
}
.icons__item a :hover{
  text-decoration: none;
  transition: color 0.5s ease;
}

.icon_prof a :hover{
  text-decoration: none;
  color:#d500f9; 
}

.icon_exp a :hover{
  text-decoration: none;
  color:#f44336; 
}

.icon_edu a :hover{
  text-decoration: none;
  color:#00695c; 
}

.icon_skill a :hover{
  text-decoration: none;
  color:#76ff03; 
}

.icon_lang a :hover{
  text-decoration: none;
  color:#03a9f4; 
}

.icon_proj a :hover{
  text-decoration: none;
  color:#ff0000; 
}

.cv_image {
  display: block;
  margin: 60px auto 0;
  width: 400px;
}

/*Profile*/
.profile{
  padding-top: 40px;
}
.prof {
  margin-top: 100px;
}
.profile__intro {
  font-size: large;
  margin-bottom: 30px;
  line-height: 1.5em;
}

.foto {
  display: block;
  margin: 0 auto;
  width: 300px;
  box-shadow: 1px 1px 20px rgba(80, 80, 80, 0.5);
  transition: .5s;
}

.prof_icons__item {
  margin-right: 50px;
}

.prof_icons__item a {
  color:#333;
  font-size: 42px;
}

.prof_icons__item a :hover{
  text-decoration: none;
  transition: color 0.5s ease;
}

.github a :hover{
  text-decoration: none;
  color:#000; 
}

.xing a :hover{
  text-decoration: none;
  color:#0698a0; 
}

.linkedin a :hover{
  text-decoration: none;
  color:#0a66c2; 
}


/*Experience*/

.exp {
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 60px;
}
.experience__title {
  font-size: medium;
}
.experience__text {
  color: #555;
  margin-top: 25px;
}
.duties {
  margin-top: 10px;
}
.exp_location {
 font-size: medium;
 color: #555;
 margin-bottom: 10px;
}
.exp_data {
  font-size: small;
}

/*Education*/

.education__title {
  font-size: medium;
}
.edu {
  margin-right: 80px;
  margin-top: 50px;
}

/*Skills*/
.skills_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skills_img {
  width: 100px;
  margin: 100px 30px 0 30px;
}



/*Language*/
.language{
  padding-bottom: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.languages {
  display: flex;
  align-items: center;
  justify-content: center;
}

.laguage-progress {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.percent {
  width: 160px;
  height: 160px;
  position: relative;
  margin: 36px;
}

.outer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
              -6px -6px 10px -1px rgba(255,255,255,0.7)
}

.inner {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
              inset -4px -4px 6px -1px rgba(255,255,255,0.7),
              -0.5px -0.5px 0px rgba(255,255,255,1),
              0.5px 0.5px 0px rgba(0,0,0,0.15),
              0px 12px 10px -10px rgba(0,0,0,0.05);
}

.lang_text {
  font-weight: 600;
  color: #555;
  text-align: center;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
  animation: anim 4s;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes anim {
  0% {
      stroke-dashoffset: 440;
  }
}


/*Project*/

.proj {
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 60px;
}
.project__title {
  font-size: medium;
}
.project__text {
  color: #555;
  margin-top: 25px;
  font-size: large;
  line-height: 1.5em;
}

/* Scroll-smooth*/

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}


